input {
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    border: none;
    border-bottom: 1px var(--grey) solid;
}

input:focus {
    outline: 0;
}

button {
    background-color: transparent;
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--grey);
}
